/* Define some CSS variables */
:root {
  --primary-color: #114357;
  --secondary-color: #ffffff;
}

/* Global CSS */

body {
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  color: var(--secondary-color);
}

p {
  color: var(--secondary-color);
}

lead {
  color: var(--secondary-color);
}

nav ul {
  margin-top: 2em;
  padding: 0;
  font-size: 1.3em;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a {
  color: var(--secondary-color);
  display: block;
  line-height: 2em;
  padding-right: 1em;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: var(--secondary-color);
  display: block;
  line-height: 2em;
  padding-right: 1em;
  font-weight: 600;
}

.active {
  text-decoration-line: overline;
}

/* CSS index.html */

.btn-group {
  margin-top: 2em;
}

.search-button {
  background-color: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.searchbar {
  margin-top: 2em;
}

.table {
  color: var(--secondary-color);
}
